html * {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Josefin Sans', sans-serif;
  ;
}

.pagina {
  background-color: cornflowerblue;
}

.main {
  display       : flex;
  align-items   : center;
  flex-direction: column;
}


.user {
  margin : 0%;
  padding: 0%;
  width  : 5% !important;
}

.navbar {
  position: fixed;
}

.boton-user {
  padding: 0%;

}

.ContainerInput {

  margin       : 5rem;
  border-radius: 4rem;
}

.diapositiva {
  display       : flex;
  flex-direction: column;
}

.img-diapositiva {
  margin: 2rem;
}

.carrusel-inner {

  display: flex;
}

.logo-carrusel {
  width    : 96%;
  max-width: 960px;
  margin   : 0 auto;
}

.logo-carru {
  width : 100%;
  height: auto;
}

.homemain2 {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.carousel {
  margin: 0.5rem;

}

.card-img-top {
  width : 25px;
  height: 200px;
}

.carousel-title {
  font-weight: bold;
  text-align : center;
  font-size  : 18pt;
  margin     : 0% !important;
  font-family: 'Josefin Sans', sans-serif;
}

.user-logo {
  border : 0% !important;
  padding: 0% !important;
}

.headerContainer {
  display              : flex;
  flex-direction       : column;
  background-color     : cornflowerblue;
  background-position-x: center;
  background-position-y: center;
  color                : rgb(255, 255, 255);
  font-size            : 20pt !important;

}

#carouselExampleControls {
  padding: 12%;

}

.headerMain {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  width          : 100%;
  position       : fixed;
}

.main {
  background-image     : url("./components/assets/img/fondoMain.jpg");
  background-position-x: center;
  background-position-y: center;
}

.container-fluid {
  background-image     : url("./components/assets/img/fondoMain.jpg");
  background-position-x: center;
  background-position-y: center;
}

.logo1cont {
  width : 30%;
  height: auto;
}

.logo1 {
  width    : 96%;
  max-width: 960px;
  margin   : 0 auto;

}

.carouselMain {
  display       : flex;
  flex-direction: row;
  padding       : 0% !important;
  margin        : 0% !important;
  border        : 0% !important;

}

.d-block {
  height: 10% !important;
}

.btn {
  width : 20rem !important;
  height: 5rem !important;
}

.card .card_image {
  width        : inherit;
  height       : inherit;
  border-radius: 40px;
}

.card .card_image img {
  width        : inherit;
  height       : inherit;
  border-radius: 2px;
  object-fit   : cover;
}

.card .card_title {
  text-align   : center;
  border-radius: 0px 0px 40px 40px;
  font-family  : sans-serif;
  font-weight  : bold;
  font-size    : 30px;
  margin-top   : -80px;
  height       : 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.card-list {
  flex-direction: column;
}

@media all and (max-width: 500px) {}

.carousel-control-next {
  filter: invert() !important;

}

.carousel-control-prev {
  filter: invert() !important;

}

.imgCity {
  margin       : 1rem;
  width        : 50%;
  height       : 50%;
  border-radius: 10%;
  border-color : white;
}

.cardCity {
  text-align           : center;
  background           : linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color                : rgb(248, 247, 247);
  font-family          : 'Roboto';
  font-weight          : 300;
  font-size            : 40pt;
  border-radius        : 10px;
  background-position-x: center;
  background-position-y: center;
  overflow             : hidden;
  text-shadow          : 5px 7px 10px black;
  background-size      : cover;
}

.divEnjoy {
  background-color: rgba(0, 0, 0, 0.226);
  display         : inline-block;
  overflow        : hidden;
  white-space     : nowrap;
}



.text-center {
  width : 100% !important;
  height: 30% !important;
  margin: 0.8rem !important;

}

.imgCity2 {
  margin       : 1rem;
  width        : 20%;
  height       : 10%;
  border-radius: 10%;
  border-color : white;
}

.backCities {
  margin: 1.5rem;
}

.logoUser {
  border-radius: 50%;

}

.FormSign {

  padding   : 25px 25px 25px 25px;
  background: #fff;
  box-shadow:
    0px 0px 0px 5px rgba(255, 255, 255, 0.4),
    0px 4px 20px rgba(0, 0, 0, 0.33);
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
  border-radius        : 5px;
  display              : table;
  position             : static;
}

.containerform {

  width    : 1000px;
  max-width: 350px;
  margin   : 0 auto;
  padding  : 30px;
}

.mainform {
  background-image     : url('../src/components/assets/img/fondoform.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size      : unset;

  height    : 87vh;
  max-height: 89vh;
}

.headerform {
  margin-bottom: 10px;
  color        : #333333;
  font-size    : 24px;
  font-weight  : bold;
  margin-bottom: 5px;
}

.labelFormulario {
  margin-top    : 5px;
  color         : #8f8f8f;
  font-size     : 12px;
  font-weight   : 300;
  letter-spacing: 1px;
  margin-bottom : 7px;
  display       : block;
}

.submit {
  width          : 100%;
  margin-top     : 20px;
  margin-bottom  : 2px;
  padding        : 5px 0;
  color          : #fff;
  font-size      : 14px;
  font-weight    : 500;
  letter-spacing : 1px;
  text-align     : center;
  text-decoration: none;
  background     : -moz-linear-gradient(top,
      #b9c5dd 0%,
      #a4b0cb);
  background: -webkit-gradient(linear, left top, left bottom,
      from(#b9c5dd),
      to(#a4b0cb));
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
  border-radius        : 5px;
  border               : 1px solid #737b8d;
  -moz-box-shadow      :
    0px 5px 5px rgba(000, 000, 000, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow:
    0px 5px 5px rgba(000, 000, 000, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow:
    0px 5px 5px rgba(000, 000, 000, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  text-shadow:
    0px 1px 3px rgba(000, 000, 000, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0);
  display : table;
  position: static;
  clear   : both;
}

.submit:hover {
  background: -moz-linear-gradient(top,
      #a4b0cb 0%,
      #b9c5dd);
  background: -webkit-gradient(linear, left top, left bottom,
      from(#a4b0cb),
      to(#b9c5dd));
}

.itinerarioContenedor {
  margin       : 50px auto 0;
  width        : 60%;
  border-radius: 4px;
}

@media screen and (max-width:700px) {
  .itinerarioContenedor {

    width: 90%;

  }
}

.iconoItinerarios {
  background: none;
  float     : left;
  height    : 100%;
  width     : 35%;
  min-width : 100px;
  position  : relative;
  padding   : 1rem;
}

.media-body {
  background-color: rgb(197, 132, 12);
  float           : left;
  height          : 100%;
  padding         : 12px 15px;
  position        : relative;
  width           : 65%;
  border-radius   : 4px;
}

.cardCity2 {
  text-align           : center;
  background           : linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color                : rgb(248, 247, 247);
  font-family          : 'Roboto';
  font-weight          : 300;
  font-size            : 40pt;
  border-radius        : 10px;
  background-position-x: center;
  background-position-y: center;
  height               : 30vh;
  border-style         : groove;
  overflow             : visible;
  text-shadow          : 5px 7px 10px black;
  padding-top          : 1rem;
  margin-top           : 2rem;
  background-size      : cover;
}

.cardActivity {
  text-align       : center;
  background       : linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color            : rgb(248, 247, 247);
  font-family      : 'Roboto';
  font-weight      : 300;
  font-size        : 10pt;
  border-radius    : 10px;
  background-repeat: no-repeat;
  background-size  : cover;
  max-height       : 300px;
  max-width        : 300px;
  width            : 30vh;
  height           : 20vh;
  border-style     : groove;
  overflow         : visible;
  text-shadow      : 5px 7px 10px black;
  padding-top      : 1rem;
  margin-top       : 2rem;
  object-fit       : cover;
}

@media screen and (max-width:1560px) {
  .cardActivity {
    width : 25vh;
    height: 15vh;
  }
}

@media screen and (max-width:1396px) {
  .cardActivity {
    width : 20vh;
    height: 10vh;
  }
}

@media screen and (max-width:1140px) {
  .cardActivity {
    width : 15vh;
    height: 10vh;
  }
}

@media screen and (max-width:860px) {
  .cardActivity {
    width : 13vh;
    height: 10vh;
  }
}

@media screen and (max-width:748px) {
  .cardActivity {
    width : 35vh;
    height: 20vh;
  }
}

.activitiesCards {
  display: flex;

  justify-content: space-between;

}

.activity {
  display        : flex;
  width          : 100%;
  justify-content: space-around;

}

@media screen and (max-width:748px) {
  .activity {

    flex-direction: column;

  }
}

.nombreGuia {
  font-size: 2rem;

}

@media screen and (max-width:573px) {
  .nombreGuia {
    font-size: 1.5rem;
  }
}

.profilePic {
  width        : 20%;
  border-radius: 50%;
}

.textArea {
  display         : flex;
  justify-content : space-around;
  align-items     : center;
  border-radius   : 4px;
  background-color: rgb(216, 134, 12);
  margin-top      : 6px;
}

.nameAndComment {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  width          : 80%;
}
.cursor{
  cursor: pointer;
}