html *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;;
}
.pagina{
  background-color: cornflowerblue;
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column; 
}


.user{
  margin: 0%;
  padding: 0%;
  width: 5% !important;
}
.navbar{
  position:fixed;
}
.boton-user{
padding: 0%;

}

.ContainerInput{

  margin: 5rem;
  border-radius: 4rem;
}
.diapositiva{
  display: flex;
  flex-direction: column;
}
.img-diapositiva{
  margin: 2rem;
}
.carrusel-inner{
  
  display: flex;
}
.logo-carrusel{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
.logo-carru {
  width: 100%;
  height: auto;
  }
.homemain2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel{
  margin: 0.5rem;
  
}
.card-img-top{
  width: 25px;
  height: 200px;
}
.carousel-title{
  font-weight: bold;
  text-align: center;
  font-size: 18pt;
  margin: 0% !important;
  font-family: 'Josefin Sans', sans-serif;
}
.user-logo{
  border: 0% !important;
  padding: 0% !important;
}
.headerContainer{
  display:flex;
  flex-direction:column;
  background-color:cornflowerblue ;
  background-position-x: center;
  background-position-y: center;
  color: rgb(255, 255, 255);
  font-size: 20pt !important;
  
}
#carouselExampleControls{
  padding: 12%;

}
.headerMain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}
.main{
  background-image: url("./components/assets/img/fondoMain.jpg");
  background-position-x: center;
  background-position-y: center;
}
.container-fluid{
  background-image: url("./components/assets/img/fondoMain.jpg");
  background-position-x: center;
  background-position-y: center;
}
.logo1cont{
  width: 30%;
  height: auto;
}
.logo1{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  
}

.carouselMain{
  display:flex;
  flex-direction: row;
  padding: 0% !important;
  margin: 0% !important;
  border: 0% !important;
  
}
.d-block{
  height: 10% !important;
}

.btn{
  width: 20rem !important;
  height: 5rem !important;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 2px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.card-list {
  flex-direction: column;
}
@media all and (max-width: 500px) {
  
}

.carousel-control-next{
  filter:invert() !important;
  
}
.carousel-control-prev{
  filter:invert() !important;
  
}
.imgCity{
  margin: 1rem;
  width: 50%;
  height: 50%;
  border-radius: 10%;
  border-color: white;
}
.cardCity{
  color: white;
}
.text-center{
  width: 100% !important;
  height: 30% !important;
  margin: 0.8rem !important;

}
.imgCity2{
  margin: 1rem;
  width: 20%;
  height: 10%;
  border-radius: 10%;
  border-color: white;
}
.backCities{
  margin: 1.5rem;
}
.logoUser{
  width: 50vw;
}